API_ID=
API_HASH=
BOT_TOKEN=
STRING_SESSION=
MONGO_DB_URI=

OWNER_ID=
SUDO_USERS=

LOGGER_ID=
SUPPORT_GROUP=
SUPPORT_CHANNEL=

AUTO_LEAVING_ASSISTANT=
AUTO_DOWNLOADS_CLEAR=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

HEROKU_API_KEY=
HEROKU_APP_NAME=

UPSTREAM_REPO=
UPSTREAM_BRANCH=main

GITHUB_REPO=
GITHUB_TOKEN=

PRIVATE_BOT_MODE=False
